/* *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
           
            html ,
             body{
                height: 100%;
                width: 100%;
            }
            form{
              padding: 200px;
              background-color:#333;
              display: flex;
              gap:10px
            }
            input,button{
              padding: 10px 20px;
            } */
/* --------------------------------------------------------------------------------------------------- */
*{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
           
            html ,
             body{
                height: 100%;
                width: 100%;
            }