*{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
           
            html ,
             body{
                height: 100%;
                width: 100%;
            }

            body{
              background-color: black;
              padding: 20px;
            }
            .card{
              height: 400px;
              width: 400px;
              background-color: white;
              overflow: hidden;
              border-radius: 10px;
              margin: 20px;
            
            }
            .upper{
              height: 50%;
              width: 100%;
            }

            .upper img{
              height: 100%;
              width: 100%;
              object-fit:cover;
            }
            .lower{
              height: 50%;
              width: 100%;
              padding: 20px;
            }
            .lower h2{
              font-size: 45px;
              font-weight: 600;
            }
            .lower h3{
              font-size:18px ;
              font-weight: 500;
              color: grey;
            }
            .lower h4{
              font-size: 30px;
              margin-top: 8px;
            }